.modal {
  align-self: center;
  justify-content: center;
  margin: auto;
  width: 400px;
  height: 100%;
  margin-top: 20px;
}

.modalContainer {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}
